// MOBILE FIRST Layout!!!

// General Rules

@import 'variables';


// HEADER styling

#header {
  background-color: $secondaryColor;
  font-family: $mainText;

  h1 {
    font-size: 3em;
    color: $mainColor;
  }
}

// HERO styling

#hero {
  background-color: $bg-color;
}

// NAVIGATION styling

#nav {
  background-color: $secondaryColor;
  font-family: $mainText;

  li {
    &:hover {
      background-color: rgb(181, 208, 61);
    }

    font-size: 3vw;
  }
}

// MAIN styling

#main {
  h2 {
    font-family: $mainText;
    background-color: $secondaryColor;
    font-size: 2vw;
  }

  .card {
    background-color: $bg-color;
    height: calc(100% - 10px);

    h4,
    h5 {
      font-family: $mainText;
    }

    p {
      font-family: $secondaryText;
    }
  }

  .beverages .card {
    height: calc(100% - 1px);
  }
}

// FOOTER styling

#footer {
  background-color: $secondaryColor;

  #nav2 {
    background-color: $secondaryColor;
    font-family: $mainText;
    font-size: 0.8em;
  }

  h1 {
    font-family: $mainText;
    font-size: 1em;
    color: $mainColor;
  }

  p {
    font-family: $secondaryText;
  }
}
