/*  -- MOBILE FIRST Layout!!! -- */

/* General Rules */

@import 'variables';

// HEADER styling

#header {
  background-color: $secondaryColor;
  font-family: $mainText;

  h1 {
    font-size: 3em;
    color: $mainColor;
  }
}

// HERO styling

#hero {
  background-color: $bg-color;
}

// NAVIGATION styling

#nav {
  background-color: $secondaryColor;
  font-family: $mainText;
  font-size: 1.2em;

  li {
    &:hover {
      background-color: rgb(181, 208, 61);
    }
  }
}

// MAIN styling

#main {
  h2 {
    font-family: $mainText;
    background-color: $secondaryColor;
  }
  .card {
    background-color: $bg-color;
    height: 90vh;

    h4,
    h5 {
      font-family: $mainText;
    }

    p {
      font-family: $secondaryText;
    }
  }

  .beverages .card {
    height: 70vh;
    margin-bottom: 1.5em;
  }
}

// FOOTER styling

#footer {
  background-color: $secondaryColor;

  h1 {
    font-family: $mainText;
    font-size: 1em;
    color: $mainColor;
  }

  p {
    font-family: $secondaryText;
  }
}
